<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> edit your content</h1>
    <h3> name:<%= post.name %></h3>
    <h3>id no:<%= post.id %></h3>
    <form method="post" action="/post/<%= post.id%>?_method=PATCH">
        <textarea name="content" id=""><%= post.content %></textarea>
        <button type="submit"> submit</button>
    </form>
</body>
</html>