<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>enter the detalis for new chat</h5>
    <form method="post" action="/chats/new"><input type="text" name="from" placeholder="your name">
        <br>
        <input type="text" name="msg" placeholder="Enter your msg">
        <br>
        <input type="text" name="to" placeholder="her/his name">
        <br>
        <button type="submit"> submit</button>

    </form>
</body>
</html>